<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>view blog</title>
</head>
<body>
    <section>
        {{!-- //blog title --}}

        <h2 class="viewTitle">{{blog.Title}}</h2>

        {{!-- blog Content --}}

        <p class="viewContent">{{blog.Content}}</p>
    </section>
</body>
</html>

<style>
    .viewTitle{
        text-align: center;
        margin: 25px;
        }
        .viewContent{
            
            margin: 0 20px;
            padding: 5px 10px;
            line-height: 1.75;
           
        }
</style>